body {
  background: #333;
  margin: 0px;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230930/pngtree-a-blue-sky-above-clouds-with-clouds-image_13313410.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.openWeather {
  width: 99%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.openWeather .location, .openWeather .twoPart .left, .openWeather .twoPart .right, .openWeather .forecast div, .openWeather .searcher, .openWeather ul li {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: background 0.5s;
}
.openWeather .location:hover, .openWeather .twoPart .left:hover, .openWeather .twoPart .right:hover, .openWeather .forecast div:hover, .openWeather .searcher:hover, .openWeather ul li:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transition: background 0.5s;
}
.openWeather ul {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translate(-50%, -50%);
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.openWeather ul li {
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}
.openWeather ul li:last-child {
  margin-bottom: 0px;
}
.openWeather ul li p {
  margin: 0px;
  text-transform: uppercase;
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-align: center;
}
.openWeather .location {
  height: 40px;
  display: flex;
  margin-bottom: 5px;
}
.openWeather .location h2 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.05em;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
.openWeather .location p {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.05em;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.openWeather .twoPart {
  height: 100px;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.openWeather .twoPart.hide {
  display: none;
}
.openWeather .twoPart div {
  flex: 1;
  height: 100%;
}
.openWeather .twoPart div.left, .openWeather .twoPart div.right {
  flex: 1;
  position: relative;
  transition: all 0.5s;
}
.openWeather .twoPart div.left .spotInfo, .openWeather .twoPart div.right .spotInfo {
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 300px;
  transform: translate(-50%, -50%);
  height: auto;
}
.openWeather .twoPart div.left .spotInfo p, .openWeather .twoPart div.right .spotInfo p {
  margin: 5px 0px;
}
.openWeather .twoPart div.right .spotInfo {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
}
.openWeather .twoPart div.right .spotInfo strong {
  font-size: 18px;
}
.openWeather .twoPart div.left {
  flex: 0 0 51%;
  display: flex;
  position: relative;
}
.openWeather .twoPart div.left.single {
  flex: 1;
}
.openWeather .twoPart div.left h3 {
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translate(-50%, -50%);
  margin: 0px;
  text-shadow: 0 0 2px #333;
}
.openWeather .twoPart div.left .fandc {
  height: auto;
  position: absolute;
  top: 50%;
  left: 210px;
  transform: translate(-50%, -50%);
}
.openWeather .twoPart div.left .fandc button {
  border: none;
  background: none;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  padding: 0px;
  cursor: pointer;
}
.openWeather .twoPart div.left .fandc button.active {
  border-bottom: 2px solid #333;
  transition: all 0.5s;
}
.openWeather .twoPart div.left .fandc button:nth-child(1) {
  margin-right: 15px;
}
.openWeather .twoPart div.left .fandc button:nth-child(1):after {
  content: " ";
  width: 1px;
  height: 80%;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(-50%, -50%);
  background: #333;
}
.openWeather .twoPart div.left .imgCont {
  flex: 0 0 100px;
  height: auto;
  position: relative;
}
.openWeather .twoPart div.left .imgCont img {
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.openWeather .twoPart div.left .imgCont:after {
  content: " ";
  width: 2px;
  height: 60%;
  opacity: 0.5;
  background: #333;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
.openWeather .forecast {
  height: 130px;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.openWeather .forecast div {
  flex: 1;
  position: relative;
}
.openWeather .forecast div img {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.openWeather .forecast div:after {
  content: " ";
  width: 40%;
  height: 40%;
  background: rgba(0, 0, 0, 0.1);
  filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.openWeather .forecast div p {
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0px;
  position: absolute;
  width: 100%;
}
.openWeather .forecast div p.a {
  top: 15%;
}
.openWeather .forecast div p.b {
  bottom: 15%;
}
.openWeather .searcher {
  height: 40px;
  display: flex;
  overflow: hidden;
}
.openWeather .searcher input, .openWeather .searcher button {
  flex: 1;
}
.openWeather .searcher button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-align: center;
}
.openWeather .searcher button:hover {
  background: rgba(255, 255, 255, 0.8);
}
.openWeather .searcher input {
  flex: 0 0 90%;
  background: none;
  border: none;
  margin: 0px;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  color: #333;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-align: left;
}
.openWeather .searcher input:focus {
  background: none;
  border: none;
  outline: none;
}/*# sourceMappingURL=style.css.map */